/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* end of CSS reset */


:root {
    --links-active-blue: #03a9f4; /* hover and active links */
    --text-dark-grey: #212121; /* nav text */
    --text-grey: #666666;
    --text-light-grey: #999999;
    --horizontal-line: #29cadf;
    --background-grey : #333333; /* lighter grey for footer */
    --background-dark-grey: #343131; /* footer */
    --background-grey: #f8f4f4; /* header */
    --background-light-grey: #f8f8f8;
}

:root {
    font-family: OpenSans;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h3 {
    text-transform: uppercase;
}

.button {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-color: #eaeaea;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    width: 156px;
    height: 50px;
    margin-left: 17px;
    margin-right: 17px;
}

header > div.base_padding {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 112px;
    align-items: center;
    justify-content: space-between;
}

#start_your_project {
    text-transform: uppercase;
    position: relative;
}

#start_your_project .center-container {
    position: absolute;
    top: calc(50% - 70px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_space_between {
    justify-content: space-between;
}

#start_your_project h2 {
    color: #ffffff;
    text-align: center;   
    font-size: 70px;
    font-weight: 700;
}

#start_your_project h3 {
    position: relative;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}

#start_your_project h3:after {
    content: "";
    position: absolute;
    bottom: -55px;
    display: block;
    background-color: var(--horizontal-line);
    width: 70px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    }

#start_your_project img {
    clip-path: inset(0 0 140px 0);
}

.digits {
    font-size: 60px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
}

#countdown {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#countdown + div {
    text-align: center;
}

#countdown tr:first-of-type td:nth-of-type(even) {
    font-size: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

#countdown tr:last-of-type td {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.button:hover {
    background-color: var(--links-active-blue);
    color: #ffffff;
    border-color: var(--links-active-blue);
}

.base_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1368px;
}

.base_padding {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 120px;
    padding-bottom: 120px;
}

img[alt="collegues"] {
    filter: brightness(50%);
}

#about_our_project {
    margin-top: -140px;
    padding-left: 100px;
    padding-top: 80px;
}

#about_our_project article > div:first-of-type {
    width: 70%;
    padding-right: 100px;
}

#about_our_project article > div:last-of-type {
    width: 30%;
}

#about_our_project h2 {
    position: relative;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 66px;
}

#about_our_project h2:after {
    position: absolute;
    content: "";
    display: block;
    background-color: var(--horizontal-line);
    width: 60px;
    height: 1px;
    margin-left: 0;
    bottom: -33px;
    }

#about_our_project strong {
    display: block;
    color: var(--text-grey);
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
    }

#about_our_project p {
    color: var(--text-grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
    }


#see_our_project li {
    width: 400px;
    height: 200px;
}

.center-container {
    position: relative;
    white-space: nowrap;
}

.icon {
    width: 15px; /* temporal */
}

.round_button {
    position: relative;
    border-radius: 50%;
    background-color: var(--links-active-blue);
    width: 80px;
    height: 80px;
}

.round_button i {
    color: #ffffff;
    font-size: 24px;
    /* filter: invert(100%); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.round {
    border-radius: 50%;
    overflow: hidden;
}

.fas.fa-ticket-alt {
    transform: rotate(-45deg) translate(-7%, -72%);
}

header {
    height: 112px;
    background-color: var(--background-grey);
}

header .header-container {
    padding-top: 33px;
}

nav {
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    }

nav ul li:hover {
    background-color: var(--links-active-blue);
        }

nav ul li:hover a {
    color: var(--background-grey);

}

ul li a {
    text-transform: uppercase;
    color: var(--text-dark-grey);
}

header a {
    padding: 7px 15px;
    line-height: 28px;
}

#logo a {
    color: var(--text-dark-grey);
    font-size: 25px;
    text-transform: uppercase;
}

#search img {
    width: 13px;
}

#our_projects {
    height: 639px;
    background-color: var(--background-light-grey);
}

#our_projects ul {
    justify-content: space-around;
    padding-top: 90px;
}

#our_projects ul li {
    align-items: center;
}

#our_projects h6 {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 26px;
}

#our_projects h6 + p {
    color: var(--text-grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
}

#see_our_project {
    position: relative;
    margin-top: -330px;
    padding-top: 0;
    padding-bottom: 0;
}

#video_title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video_title a {
    display: inline-block;
}

#video_title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.circle {
    position: relative;
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    width: 70px;
    height: 70px;
}

.triangle {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 27px solid #ffffff;
}

#brands {
}

#brands ul {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    clip-path: inset(10px 130px);
}

#brands li {
    position: relative;
    width: 380px;
    height: 200px;

    border-width: 1px;
    border-color: #eaeaea;
    border-style: dotted;
}

#brands li::first-line {

    border-color: red;
    border-style: dotted;
}

#brands li a {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*  footer */

#social i {
    filter: brightness(500%);
}

/* end of footer */

.presentation {
    padding: 15px;
}

.head_shot_with_contacts {
    width: 370px;
    height: 415px;
}

/* ribbon */

.box {
    position: relative;
    max-width: 600px;
    width: 90%;
    height: 400px;
    background: #fff;
  }
  
  .ribbon-left {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon-right {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    right: 0;
  }
  
  .ribbon-left span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: var(--links-active-blue);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  
  .ribbon-right span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: var(--links-active-blue);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  /* end of ribbon */

  #our_member > div {
    padding-top: 110px;
    
  }
  #our_member {
    width: 100%;
    margin: 0;
    background-color: #343131;
    height: 753px;
  }

  #our_member h2 {
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin-bottom: 85px;
}

#our_member h2::after {
    content: "";
    position: absolute;
    background-color: var(--horizontal-line);
    width: 60px;
    height: 2px;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
}

.head_shot_with_contacts {
    position: relative;
}

.head_shot_with_contacts:hover img {
    filter: brightness(50%);
}

.head_shot_with_contacts figcaption {
    display: none;
    position: absolute;
    left: 18px;
    bottom: 27px;
}

.head_shot_with_contacts h6 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

.head_shot_with_contacts p {
    position: relative;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 40px;
}

.head_shot_with_contacts p:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 35px;
    background-color: #ffffff;
    left: 0;
    bottom: -20px;
}


.head_shot_with_contacts figcaption li {
    display: inline;
    margin-right: 13px;
}

.head_shot_with_contacts:hover figcaption {
    display: block;
}

.head_shot_with_contacts:hover figcaption i {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.head_shot_with_contacts:hover figcaption i:hover {
    color: var(--links-active-blue);
}

  .speaker_round {
    border-radius: 50%;
    width: 100px;
    height: 100px;

  }

#project_schedule {
    background-color: #f8f8f8;
}

#project_schedule ul.flex_row {
    justify-content: center;
}

#days_nav .button {
    color: #000000;
    font-size: 14px;
    width: 98px;
    height: 39px;
    margin: 0;
    padding: 0;
    line-height: 37px;
}

#days_nav .button:hover {
    color: #ffffff;
}

#project_schedule h2 {
    position: relative;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 81px;
    text-transform: uppercase;
}

#project_schedule h2::after {
    content: "";
    position: absolute;
    background-color: var(--horizontal-line);
    width: 60px;
    height: 2px;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
}

.event {
    position: relative;
    height: 487px;
    margin-bottom: -20px;
}

.event:after {
    z-index: 0;
    content: '';
    width: 0;
    position: absolute;
    border-left: 2px solid #eaeaea;
    height: 487px;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.event:first-of-type:after {
    top: -80px;
    height: 567px;
}

.event:last-of-type:after {
    height: 557px;

}

.event:first-of-type {
    margin-top: 80px;
}

.event:last-of-type {
    margin-bottom: 70px;
}

.speaker {
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid var(--links-active-blue);
    top: 173px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation_box {
    position: absolute;
    width: 500px;
    background-color: #ffffff;
}

.event:nth-of-type(even) .presentation_box {
    right: 0;
    
}

.event:nth-of-type(odd) .presentation_box {
    left: 0;
}

.presentation_box figure {
    padding: 20px;
}

.presentation_box h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    margin-top: 31px;
    margin-bottom: 23px;
    text-transform: uppercase;
}

.presentation_box p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#next_day {
    justify-content: center;
}

#next_day .button {
    background-color: #03a9f4;
    width: 171px;
    height: 43px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
}

#signup_now > div {
    position: relative;
}

#signup_now strong, 
#signup_now a {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

#signup_now strong {
    left: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}

#signup_now a {
    right: 100px;
}

#map > div {
    position: relative;
}
#map article {
    position: absolute;
    top: 216px;
    left: 750px;
    background-color: #ffffff;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.3);
    width: 260px;
    height: 100px;
}

#upper_footer, #upper_footer li, #upper_footer a {
    display: block;
    text-transform: none;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

#upper_footer > div {
    justify-content: space-between;
}

#upper_footer section:nth-of-type(1) {
    width: 500px;
}

#upper_footer section:nth-of-type(2) {
    width: 200px;
}

#upper_footer section:nth-of-type(3) {
    width: 200px;
}

#upper_footer section:nth-of-type(4) {
    width: 270px;
}

#upper_footer h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-bottom: 34px;
}

#upper_footer form {
    position: relative;
    margin-top: 32px;
}

#upper_footer input[type="text"] {
    box-sizing: border-box;
    position: absolute;
    color: #cccccc;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    right: 0;
    background-color: rgba(255, 255, 255, 0.19);
    width: 100%;
    height: 40px;
    border-width: 0;
    padding: 0 14px;
}

#upper_footer input[type="button"] {
    position: absolute;
    right: 0;
    background-color: var(--horizontal-line);
    width: 45px;
    height: 40px;
    border-width: 0;
}

form .fas.fa-long-arrow-alt-right {
    display: block;
    position: absolute;
    color: #ffffff;
    font-size: 28px;
    line-height: 22px;
    text-align: center;
    top: 50%;
    right: 23px;
    transform: translate(-50%, -50%);
}

footer nav:first-of-type {
    background-color: #333333;
}

footer nav:last-of-type {
    background-color: #262626;
    height: 55px;
}

footer nav:last-of-type > div {
    padding-top: 0;
    padding-bottom: 0;
}

#copyright {
    font-family: OpenSans;
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}